@import "src/styles/styles";

.auth {
  width: 100%;
  height: 100vh;
  background-color: $gray-200;
  overflow: hidden;

  &__form {
    min-width: $extra-small;
    background-color: $white;
    border-radius: 10px;
  }
}