@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

// screens resolution variables

$extra-small: 320px;
$small-phone: 480px;
$phone: 576px;
$small-tablet: 601px;
$tablet: 768px;
$desktop: 992px;
$large-desktops: 1200px;
$extra-large-desktops: 1400px;

$min-width-container: $extra-small;
$max-width-container: 1200px;

// colors
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@function toEm($value) {
  $remValue: ($value / 16) + em;
  @return $remValue;
}


[class*="__container"] {
  margin: 0 auto;
  max-width: $max-width-container;
  min-width: $min-width-container;
  min-height: 100%;
  padding: 0 toRem(10);
}
