@import "src/styles/styles";

.header {
  background: $gray-900;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: toRem(72);
  position: sticky;
  transition: transform 0.5s cubic-bezier(0.8, 0.2, 0.2, 0.8);

  &_hidden {
    transform: translateY(-100%);
  }

  &__container {
    color: $white;
  }

  &__user-box {
    column-gap: 10%;
  }

  &__link {
    svg {
      transform: scale(1.2);
      fill: $white;
    }
  }
}