@import "src/styles/styles";

.layout {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: $gray-100;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: toRem(20);

  main {
    flex: 1 1 auto;
  }
}