@import "src/styles/styles";

.card-item {
  min-width: toEm(285);
  max-width: toEm(320)!important;
  padding: toRem(10)!important;
  border: none!important;
  background-color: $white;


  @media screen and (max-width: $tablet){
    width: 45%;
  }

  @media (max-width: $small-phone){
    min-width: toEm(420);
  }
}